NODE_ENV=sandbox

DATABASE_URL=postgres://postgres:postgres@127.0.0.1/issuer-backend
ISSUER_ORIGIN=https://issuer.staging.air3.com
SEED=0xc376a935d5b850bfad109f684312d1ddb8a2889c9516aa8d219da8595aef8341

PARTNER_ID=6c5579ae-d107-4d16-9ac8-b745d20516ab
PARTNER_PRIVATE_KEY_KID=JWKS_KID
PARTNER_PRIVATE_KEY_DER=PRIVATE_KEY_DER_FORM

SD_JWT_JWKS='{"keys":[{"kty":"RSA","use":"sig","alg":"RS256","kid":"6386cb4d-c0de-4629-a412-8dcf6f50f805","n":"***","e":"AQAB"}]}'
#SD_JWT_TSL_PARTITION_SIZE=80000

API_KEY=secret
ADMIN_API_KEY=admin-secret
